{% extends 'index.html' %}
{% load static %}


{% block content %}
<!--====================================================
                          CONTACT
    ======================================================-->
      <section class="resume-section p-3 p-lg-5 d-flex flex-column">
          <div class="row my-auto" id="contact">
            <div class="col-md-8">
              <div class="contact-cont">
                <h3>CONTACT Me</h3>
                <div class="heading-border-light"></div>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here.</p>
              </div>
              <form method="post" role="form">{% csrf_token %}
                <div class="row con-form">
                  <div class="col-md-12">
                    <input type="text" name="your_email" placeholder="Your Email" class="form-control">
                  </div>
                  <div class="col-md-12">
                    <input type="text" name="subject" placeholder="Email Subject" class="form-control">
                  </div>
                  <div class="col-md-12"><textarea name="message" id="" placeholder="write your message here..." class="form-control"></textarea></div>
                  <div class="col-md-12 sub-but"><button class="btn btn-general btn-white" role="button">Send</button></div>
                </div>
              </form>

          </div>
            <div class="col-md-4 col-sm-12 mt-5">
              <div class="contact-cont2">
                <div class="contact-add contact-box-desc">
                  <h3><i class="fa fa-map-marker cl-atlantis fa-2x"></i> Address</h3>
                  <p>Fatulah, Naraynagonj <br>
                  Bangladesh<br></p>
                </div>
                <div class="contact-phone contact-side-desc contact-box-desc">
                  <h3><i class="fa fa-phone cl-atlantis fa-2x"></i> Phone</h3>
                  <p>+8801719337456<br>+8801625265685</p>
                </div>
                <div class="contact-mail contact-side-desc contact-box-desc">
                  <h3><i class="fa fa-envelope-o cl-atlantis fa-2x"></i> Email</h3>
                <address class="address-details-f">
                  Email: <a href="mailto:nabirhossain13@gmail.com" class="">nabirhossain13@gmail.com</a>
                </address>
                <ul class="list-inline social-icon-f top-data">
                  <li><a href="https://www.facebook.com/profile.php?id=100008592640528" target="_empty"><i class="fa top-social fa-facebook" style="color: #4267b2; border-color:#4267b2;"></i></a></li>
                  <li><a href="https://twitter.com/MdNabirHossain3" target="_empty"><i class="fa top-social fa-twitter" style="color: #4AB3F4; border-color:#4AB3F4;"></i></a></li>
                  <li><a href="https://plus.google.com/u/0/116561509278696653736?tab=qX" target="_empty"><i class="fa top-social fa-google-plus" style="color: #e24343; border-color:#e24343;"></i></a></li>
                </ul>
                </div>
              </div>
            </div>
          </div>
      </section>

      <section class=" d-flex flex-column" id="maps">
        <div id="map">
          <div class="map-responsive">
              <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d58469.378452778365!2d90.46643827885404!3d23.66393378130325!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1533618815803" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

          </div>
        </div>
      </section>
{% endblock %}








<!--
                    <div class="col-md-12">
                      <input type="text" name="your_name" placeholder="Full Name" class="form-control">
                    </div>
                    <div class="col-md-12">
                      <input type="email" name="your_email" placeholder="Email Id" class="form-control">
                    </div>
                    <div class="col-md-12">
                      <input type="text" name="subject" placeholder="Subject" class="form-control">
                    </div>
                    <div class="col-md-12"><textarea name="message" id=""></textarea></div>
                    <div class="col-md-12 sub-but">
                        <button class="btn btn-general btn-white" role="button" type="submit">Send</button>
                    </div>
-->